[Unit]
Description=Sistema de Gestão de Oficina Mecânica
Documentation=https://github.com/oficina-mecanica
After=network.target

[Service]
Type=simple
User=alfreire
WorkingDirectory=/var/www/html
Environment=NODE_ENV=production
Environment=NODE_OPTIONS=
Environment=PATH=/home/alfreire/.nvm/versions/node/v18.20.8/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/alfreire/.nvm/versions/node/v18.20.8/bin/node dist/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oficina-mecanica

[Install]
WantedBy=multi-user.target
